@import url(./thsarabunnew.css);

/* Desktop Styles */

@media (min-width: 1200px) {
    /* html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    } */
    body {
        background-image: url(../Images/BG-TH.jpg);
    }
    #login {
        margin-top: 100px;
        margin-left: 20%;
        width: 750px;
        height: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
    }
    #left {
        position: absolute;
        /* border: 3px solid #adfadf; */
        width: 375px;
    }
    #hris {
        left: 5%;
        top: 220px;
        position: absolute;
    }
    #right {
        padding-top: 100px;
        width: 300px;
        /* border: 3px solid #e0b3d2; */
        margin-left: 420px;
        position: absolute;
    }
    #square {
        width: 8px;
        height: 45px;
        background-color: #1a1d52;
        position: absolute;
    }
    #txtLogin {
        color: #222233;
        font-size: 30px;
        width: 200px;
        font-weight: bold;
        font-family: 'THSarabunNew', sans-serif;
        margin-left: -100px;
    }
    #loginForm {
        color: #222233;
        font-family: 'THSarabunNew', sans-serif;
        font-size: 0.9em;
        font-weight: bold;
    }
    #userName {
        margin-left: -225px;
    }
    #pass {
        margin-left: -240px;
    }
}